<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASwEvJkTS1rIiYuxhys5QNoBUFoxPRcXU</string>
	<key>GCM_SENDER_ID</key>
	<string>603545245121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uchat.uchat</string>
	<key>PROJECT_ID</key>
	<string>icebreaker-16bc6</string>
	<key>STORAGE_BUCKET</key>
	<string>icebreaker-16bc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603545245121:ios:381750a6a409b80f630b40</string>
</dict>
</plist>